body {
  background-image: url(https://images.pexels.com/photos/14676/pexels-photo-14676.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  font-family: 'Unica One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.583);
  color: white;
  padding: 5%;
}

.output {
  font-size: 30px;
}

select {
  display: block;
  margin: 5% 0;
}

label, input {
  display: block;
}

b {
  color: #ff7068;
}

i {
  color: rgb(255, 186, 83);
}